/***** BASE STYLE *****/

html {
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-color: #E6EDFC;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

h2 {
    font-size: 1.75em;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
}

/***** GRID *****/

.content-wrapper {
    align-items: center;
    display: flex;
}

/***** HEADER *****/

header .header-divider {
    border-image-slice: 5;
    border-image-source: linear-gradient(to right, #E6EDFC 0%, black 50%, #E6EDFC 100%);
    border-top: 1px solid transparent;
    margin: 15px 0 20px 0;
    width: 100%;
  }  

.logo {
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 3em;
    margin: 0;
}

.menu {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 40px 0 10px;
}

.nav {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li a {
    font-size: 1em;
    margin: 0 8px;
    text-transform: uppercase;
}

.nav li span:hover {
    border-bottom: 5px dotted black;
    padding-bottom: 5px;
}

/***** HERO AREA *****/

.hero-area {
    margin: 0;
    padding: 32px 32px 50px;
}

.hero-area .content-wrapper {
    flex-direction: column-reverse;
}

.hero-area-description {
    font-style: italic;
    margin: 24px 0 0;
}

.hero-area-heading {
    font-size: 2.18em;
    margin: 0;
}

.hero-area-info {
    max-width: 600px;
    padding: 40px 0 0;
}

.hero-area-image {
    width: 100%;
    max-width: 200px;
}

/***** ABOUT *****/

#about {
    background-color: #2D76EB;
    -ms-transform: skewY(4deg);
    margin: 0;
    padding: 2px 32px 38px;
    transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
}

#about .content-wrapper {
    color: white;
    flex-direction: column;
    -ms-transform: skewY(-4deg);
    transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
}

#about h2 {
    color: white;
    -ms-transform: skewY(-4deg);
    transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
}

.about-image {
    max-width: 215px;
    padding: 10px 0 17px;
    width: 100%;
}

.about-info {
    max-width: 600px;    
}

#about li {
    font-size: 1.37em;
}

/***** PORTFOLIO *****/

.gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.item {    
    height: 0;
    overflow: hidden;
    padding-top: calc(3 / 5 * 100%);
    position: relative;
}

.item-img {
    filter: grayscale(100%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
    transition: ease-in-out 0.5s;
    -webkit-filter: grayscale(100%);
    -webkit-transition: ease-in-out 0.5s;
}

.item-img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

#portfolio {
    margin: 0;
    padding: 0 5px 5px;
}

#portfolio h2 {
    padding: 2px 32px 0;
}

.project-name {
    align-self: flex-start;
    font-size: 0.75em;
    font-weight: bold;
    margin: 24px 0 0 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.project-name p {
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    line-height: 1;
    padding: 6px 10px 4px;
    color: #fff;
}

.project-name--black p {
    background-color: #2b2b2b;
    color: #fff;
}

.project-name--green p {
    background-color: #129827;
}

.project-name--pink p {
    background-color: #f9ceb7;
    color: #2b2b2b;
}

.project-name--tomato p {
    background-color: tomato;
    color: #2b2b2b;
}

.project-name--yellow p {
    background-color: #FFF44F;
    color: #2b2b2b;
}

.tab-header {
    align-items: center;
    background-color: #E6EDFC;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: hidden;
}
  
.tab-header button {
    background-color: inherit;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 1.12em;
    margin: 10px 5px;
    padding: 14px 16px;
    outline: none;
    transition: 0.3s;
}

.tab-header button:hover {
    background-color: whitesmoke;
}

.tab-header button.active {
    background-color: white;
}

.tabcontent {
    animation: fadeEffect 1s;
    display: none;
    margin: 20px 0;
    /* padding: 6px 12px; */
    text-align: center;
    -webkit-animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/***** FOOTER *****/

#contact {
    background-color: #2D76EB;
    color: white;
    text-align: center;
    padding: 0 20px 20px;
}

#contact a {
    color: white;
    font-weight: bold;
}

#contact h1 {
    color: #5f98f3;
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 3em;
    padding: 50px 0 0;
}

#contact i {
    color: #5f98f3;
    font-size: 1.62em;
    transition: ease-in-out 0.5s;
}

#contact i:hover {
    color: #fff;
}

.copyright {
    padding: 30px 0 0;
}

.footer-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer .social-icons {
    align-items: center;
    display: flex;
    justify-content: center;
}

footer .social-icons p {
    margin: 0;
    padding: 0 10px;
}

/***** TABLET *****/

@media (min-width: 640px) {
    
    /***** HERO AREA *****/

    .hero-area .content-wrapper {
        flex-direction: row;
        justify-content: center;
    }

    .hero-area-info {
        padding: 40px 30px 40px 0;
    }

    /***** ABOUT *****/
    
    #about {
        padding: 10px 32px 50px;
    }

    #about .content-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .about-info {
        padding: 40px 0 40px 30px;
    }

    /***** PORTFOLIO *****/

    #portfolio {
        padding: 0 32px 5px;
    }

    /***** FOOTER *****/

    .footer-layout {
        flex-direction: row;
    }

}

/***** DESKTOP *****/

@media (min-width: 1024px) {

    /***** BASE STYLE *****/
   
    h2 {
        font-size: 2.62em;
        padding: 0 0 0 40px;
    }
    
    /***** HEADER *****/

    header .header-divider {
        display: none;
    }

    .logo {
        font-size: 4.37em;
    }
    
    .menu {
        padding: 64px 100px;
    }

    .nav {
        flex: 1;
        justify-content: flex-end;
    }

    .nav li a {
        font-size: 1.25em;
        margin: 0 30px;
    }

    .nav li span:hover {
        border-bottom: 8px dotted black;
        padding-bottom: 5px;
    }

    /***** HERO AREA *****/

    .hero-area {
        padding: 0 32px 15px;
    }

    .hero-area .content-wrapper {
        justify-content: space-between;
    }

    .hero-area-image {
        max-width: 300px;
    }

    .hero-area-description {
        font-size: 2.5em;
    }

    .hero-area-heading {
        font-size: 5em;
    }

    .hero-area-image {
        padding: 0 100px 0 0;
    }

    .hero-area-info {
        padding: 40px;
    }

    /***** ABOUT *****/

    #about {
        padding: 0 32px 60px;
    }

    #about .content-wrapper {
        padding: 0 0 20px;
    }
     
    #about li {
        font-size: 2.18em;
    }

    #about p {
        font-size: 1.75em;
    }

    .about-info {
        padding: 40px;
    }
    
    .about-image {
        max-width: 315px;
    }

    /***** PORTFOLIO *****/

    #portfolio {
        padding: 0 32px 10px;
    }

    /***** FOOTER *****/
   
    #contact i {
        font-size: 2em;
    }

    #contact h1 {
        font-size: 4.37em;
    }

    footer h2 {
        padding: 0;
    }

}